@model Warehouse.Models.Supplier
@{
    ViewBag.Title = "Delete Supplier";
}

<h1>Delete Supplier</h1>
<div class="card">
    <p>Are you sure you want to delete <strong>@Model.CompanyName</strong>?</p>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href__="/Supplier" class="btn btn-primary" style="margin-left:10px;">Cancel</a>
    }
</div>